*{
    font-family: "Segoe UI Historic", "Segoe UI";
    font-weight: 600;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
}
main {
    display: flex;
}
#insta_cont {
    width: 950px;
    height: 100%;
    /* background-color: grey; */
}

#login_side {
    width : 600px;
    height: 100%;
    border-left: 2px solid lightgray;
    /* background-color: bisque; */
}

hr {
    color: rgb(170, 11, 11);
}

h3 {
    text-align: left;
    margin-left: 90px;
}

/* this gradient is made using gpt */
.instagram-gradient {
  background: linear-gradient(
    45deg,
    #f58529,
    #feda77,
    #dd2a7b,
    #8134af,
    #515bd4
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* ----------######---------- */
div {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
    height: 30px;
    /* background-color: aquamarine; */
}


input {
    width: 400px;
    height: 50px;
    text-align: left;
    border-radius: 15px;
    border: 0.3px solid lightgray;
    padding-left: 20px;
    letter-spacing: 0.5px;
}

#user_details:hover {
    border-radius: 0.3px solid black;
}

 #login {
    background-color: #7aa2fa86;
    color: white;
    width: 420px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
 }
  #forget_pass {
    background-color: transparent;
    color: black;
    width: 420px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
 }

 #log_facebook {
     background-color: transparent;
    color: black;
    width: 420px;
    height: 40px;
    border-radius: 40px;
    border: 0.3px solid lightgray;
 }


#create_account {
     background-color: transparent;
    color: #417CF8;
    width: 420px;
    height: 40px;
    border-radius: 40px;
    border: 0.3px solid #417CF8;
 }

 footer a {
    text-decoration: none;
    color: gray;
    font-weight: 200;
    margin-right: 15px;
}

#user_details:hover {
    /* background-color: rgba(238, 237, 237, 0.349); */
    border: 0.3px solid black;
 }

#password:hover {
    /* background-color: rgba(238, 237, 237, 0.349); */
    border: 0.3px solid black;
 }

#forget_pass:hover {
    background-color: rgba(224, 224, 224, 0.85);
 }

 #log_facebook:hover {
    background-color: rgba(218, 218, 218, 0.6);
 }

#create_account:hover {
    background-color: rgba(216, 216, 216, 0.6);
 }